header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(26,140,255);
    border-radius: 7px;
    border: black, solid, 3px;
}

body{
    background-color: #f5fff0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}
.head{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    border:0px;
    background-color: white;
}
button:hover{
    background-color: rgb(6, 104, 202);
    color:white;
    border: 0px;
    transition-duration:0.5s;
}
h1{
    display: flex;
    align-content: center;
    top: 0;
}
.input{
    height: 30px;
    border-radius: 7px;
    border: 0px;
    padding-left: 8px;
}
.logout{
    padding: 30px;
}
.home{
    padding: 40px;
}
.bid-button{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    background-color:  rgb(6, 104, 202);
    color:white;
    border: 0px;
}

.class-details{
    padding: 20px;
}

.class-details{
  padding: 15px;
  text-align: left;
  border: 1px solid black;
  padding: 20px;
}

.view{
    border:2px solid  rgb(26,140,255);
}
table{
    width: 50%;
}
.input-window{
    border: 1px solid gray;
    border-radius: 3px;
    background-color: rgba(128,128,128,0.3);
}
.add-job{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.desc{
    width: 300px;
}
a{
    color:black;
    text-decoration: none;
}
a:visited{
    color: black;
    text-decoration: none;
}

footer{
    position:absolute;
    bottom:0;
    right:0;
    background-color: red;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    align-items: center;
}

.email{
    color:black;
    text-decoration: none;
}
.email:checked{
    color:black;
    text-decoration: none;
}
.email:visited{
    color:black;
    text-decoration: none;
}

.language{
    color:black;
    text-decoration: none;
}
.language:checked{
    color:black;
    text-decoration: none;
}
.language:visited{
    color:black;
    text-decoration: none;
}

.home-btm{
    width: auto;
}