header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(26,140,255);
    border-radius: 7px;
    border: black, solid, 3px;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
}
.head{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    border:0px;
    background-color: white;
}
button:hover{
    background-color: rgb(6, 104, 202);
    color:white;
    border: 0px;
    transition-duration:0.5s;
}
h1{
    display: flex;
    align-content: center;
    top: 0;
}
.input{
    height: 30px;
    border-radius: 7px;
    border: 0px;
    padding-left: 8px;
}
.logout{
    padding: 30px;
}
.bid-button{
    height: 30px;
    width: 80px;
    border-radius: 7px;
    background-color: white;
    border: 0px;
}
.bid-button:hover{
    background-color:  rgb(6, 104, 202);
    color:white;
    border: 0px;
    transition-duration:0.5s;
}
.view{
    border:2px solid  rgb(26,140,255);
}