<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/account.css">
</head>

<body>
    <header>
        <div class="home">
            <a th:href="@{'/index'}"><button class="home-btm" th:text="#{header.home}">Home</button></a>
        </div>
        <div>
            <h1 th:text="#{header.jobAds}">JOB ADVERTISEMENTS</h1>
        </div>
        <div class="logout">
            <h4><span th:text="#{header.hello}">Hello</span> <a class="email" th:text="${user.email}" th:href="@{'/account'}">email</a></h4>
            <a th:href="@{'/logout'}"><button th:text="#{header.logout}">Log Out</button></a>
        </div>
    </header>
    <main>
        <table class="user-details">
            <tr>
                <td th:text="#{account.name}">Name:</td>
                <td th:text="${user.name} + ' ' + ${user.surname}">Name</td>
            </tr>
            <tr>
                <td th:text="#{account.email}">Email:</td>
                <td th:text="${user.email}">Email</td>
            </tr>
            <tr>
                <td th:text="#{account.phoneNumber}">Phone No.:</td>
                <td th:text="${user.phoneNumber}">Phone</td>
            </tr>
        </table>

        <table class="class-details">
            <tr>
                <th th:text="#{job.name}">Job</th>
                <th th:text="#{job.date}">Date</th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.name}">Job</td>
                <td th:text="${job.date}">Date</td>
            </tr>
        </table>

        <div class="add-job">
	        <form class="form-signin" method="post" th:action="@{/newjob}" th:object="${jobForm}">
	        	<input type="hidden" id="ownerId" name="ownerId" class="form-control" placeholder="OwnerId" required="true" th:field="*{ownerId}">
	            <input type="text" class="input input-window" name="Job" th:placeholder="#{job.name}" required="true" th:field="*{name}">
	            <span th:if="${#fields.hasErrors('name')}" class="error" th:errors="*{name}" >Error</span>
	            <span th:if="${valueError}" class="error" th:text="#{newbid.valueError}" >Error</span>
	            <input type="text" class="input input-window desc" name="Description" th:placeholder="#{job.description}" required="true" th:field="*{description}">
	            <span th:if="${#fields.hasErrors('description')}" class="error" th:errors="*{description}" >Error</span>
	            <span th:if="${valueError}" class="error" th:text="#{newbid.valueError}" >Error</span>
	            <button class=" bid-button" type="submit" th:text="#{account.addJob}">Add</button>
	        </form>
        </div>
    </main>
   <footer>
        <p th:text="#{footer.language} ">Language</p>   
    	<a class="language" th:href="@{/index} + '?lang=en'" th:text="#{lang.english} "/>
        <p>/</p>
    	<a class="language" th:href="@{/index} + '?lang=pl'" th:text="#{lang.polish} "/>
    </footer>
</body>

</html>
