<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <header>
        <div class="search">
        	<form method="post" th:action="@{'/search'}" th:object="${searchForm}">
	            <input type="text" id="searchPhrase" name="searchPhrase" class="form-control" th:placeholder="#{header.keyword}" required="true" th:field="*{searchPhrase}">
                <span th:if="${valueError}" class="error" th:text="#{newbid.valueError}" >Error</span>
        	    <button class="bid-button" type="submit" th:text="#{header.search}">Search</button>
	        </form>
	        <a th:if="${showHome}" th:href="@{'/index'}"><button class="home-btm" th:text="#{header.home}">Home</button></a>
        </div>
        <div>
            <h1 th:text="#{header.jobAds}">JOB ADVERTISEMENTS</h1>
        </div>
        <div class="logout">
            <h4><span th:text="#{header.hello}">Hello</span> <a class="email" th:text="${user.email}" th:href="@{'/account'}">email</a></h4>
            <a th:href="@{'/logout'}"><button th:text="#{header.logout}">Log Out</button></a>
        </div>
    </header>
    <main>
        <table>
            <tr>
                <th th:text="#{job.name}">Name</th>
                <th th:text="#{job.description}">Description</th>
                <th th:text="#{job.date}">Date Published</th>
                <th th:text="#{job.active}">Active</th>
                <th></th>
            </tr>
            <tr th:each="job : ${jobs}">
                <td th:text="${job.name}">Name</td>
                <td th:text="${job.description}">Description</td>
                <td th:text="${job.date}">Date</td>
                <td th:text="${job.active}">Active</td>
                <td align='center'><a class="view" th:href="@{'/job/' + ${job.jobId}}" th:text="#{job.view}">View</a></td>
            </tr>
        </table>
    </main>
    <footer>
        <p th:text="#{footer.language} ">Language</p>   
    	<a class="language" th:href="@{/index} + '?lang=en'" th:text="#{lang.english} "/>
        <p>/</p>
    	<a class="language" th:href="@{/index} + '?lang=pl'" th:text="#{lang.polish} "/>
    </footer>
</body>

</html>