<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
    <header>
        <div class="search">
        <input type="text" class="input" name="q" placeholder="Search keyword">
        <input type="submit" class="search-button" value="Search">
        </div>
        <h1>JOB ADVERTISEMENTS</h1>
        <div class="logout">
        <h5>Hello"xyz"</h5>
        <button>Logout</button>
        </div>
    </header>
    <main>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date Published</th>
                <th></th>
            </tr>
            <tr>
                <td th:text="*{name}">Name</td>
                <td th:text="*{description}">Description</td>
                <td th:text="*{date}">Date</td>
                <td align='center'><form><input type=submit value="View"></form></td>
            </tr>
        </table>
    </main>
</body>
</html>