<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/job.css">
</head>

<body>
    <header>
        <div></div>
        <h1>JOB ADVERTISEMENTS</h1>
        <div class="logout">
            <h5>Hello</h5>
            <a th:href="@{'/logout'}"><button>Log Out</button></a>
        </div>
    </header>
    <main>
        <table>
            <tr>
                <td>Name:</td>
                <td th:text="${job.name}">Name</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td th:text="${job.description}">Description</td>
            </tr>
            <tr>
                <td>Date:</td>
                <td th:text="${job.date}">Date</td>
            </tr>
            <tr>
                <td>Job owner:</td>
                <td th:text="${job.owner.name} + ' ' + ${job.owner.surname}">Name</td>
            </tr>
            <tr>
                <td>Contact:</td>
                <td th:text="${job.owner.email}">Contact</td>
            </tr>
            <tr>
                <td>Active:</td>
                <td th:text="${job.active}">Active</td>
            </tr>
        </table>

        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr th:each="bid : ${bids}">
                <td th:text="${bid.bidder.email}">Bidder</td>
                <td th:text="${bid.value}">Value</td>
            </tr>
        </table>
    </main>
</body>

</html>
