<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>
    <header>
        <div class="search">
            <input type="text" class="input" name="q" placeholder="Search keyword">
            <input type="submit" class="search-button" value="Search">
        </div>
        <h1>JOB ADVERTISEMENTS</h1>
        <div class="logout">
            <h5>Hello"xyz"</h5>
            <button>Logout</button>
        </div>
    </header>
    <main>
        <p th:text="${job.name}">Name</p>
        <p th:text="${job.description}">Description</p>
        <p th:text="${job.date}">Date</p>
        <p th:text="${job.active}">Active</p>
        
        <table>
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr>
                <td th:text="${job.name}">Name</td>
                <td th:text="${job.description}">Description</td>
            </tr>
        </table>
    </main>
</body>

</html>
