<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="/css/job.css">
</head>
<body>
    <header>
        <div class="home">
            <a th:href="@{'/index'}"><button th:text="#{header.home}">Home</button></a>
        </div>
        <div>
            <h1 th:text="#{header.jobAds}">JOB ADVERTISEMENTS</h1>
        </div>
        <div class="logout">
            <h4><span th:text="#{header.hello}">Hello</span> <a class="email" th:text="${user.email}" th:href="@{'/account'}">email</a></h4>
            <a th:href="@{'/logout'}"><button th:text="#{header.logout}">Log Out</button></a>
        </div>
    </header>
    <main>
        <table>
            <tr>
                <th th:text="#{users.email}">Email</th>
                <th th:text="#{users.name}">Name</th>
                <th th:text="#{users.surname}">Surname</th>
                <th th:text="#{users.phoneNumber}">Phone Number</th>
            </tr>
            <tr th:each="user : ${users}">
            	<td th:text="${user.email}">E-mail</td>
                <td th:text="${user.name}">Name</td>
                <td th:text="${user.surname}">Description</td>
                <td th:text="${user.phoneNumber}">Date</td>
            </tr>
        </table>
    </main>
    <footer>
    	<a th:href="@{/users} + '?lang=en'" th:text="#{lang.english}"/>
    	<a th:href="@{/users} + '?lang=pl'" th:text="#{lang.polish}"/>
    </footer>
</body>
</html>